.mainsearch
{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
.staatFont
{
    font-family: 'Staatliches', cursive;
}
.darkBackground
{
    background-color: #404c59;
}
.tableBackground
{
    background-color: #404c59 !important;
}

.rowBackground
{
    background-color: #4b5968;
}

.tableImg
{

}

