.mainsearch
{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
.staatFont
{
    font-family: 'Staatliches', cursive;
}
.darkBackground
{
    background-color: #212529;
    color:lightgray;
}
.tableBackground
{
    background-color: #404c59 !important;
}

.rowBackground
{
    background-color: #4b5968;
}

.tableIcon
{
    cursor: pointer;
}

#role:hover
{
    opacity: 0.3;
}

.center
{
    display: inline-block;
}

#championsTable.td:hover
{
    background-color: #2b333b;
}
