.mainsearch
{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
.staatFont
{
    font-family: 'Staatliches', cursive;
}
.darkBackground
{
    background-color: #212529;
    color:lightgray;
}
.tableBackground
{
    background-color: #404c59 !important;
}

.tableIcon
{
    cursor: pointer;
}

#role:hover
{
    opacity: 0.3;
}

.smallTr
{
    max-height: 10px !important;
}

.center
{
    display: inline-block;
}

#championsTable.td:hover
{
    background-color: #2b333b;
}

.btn-block
{
    padding:0;
}

.textbutton
{
    background:none!important;
    border:none;
    padding:0!important;
}

.textbutton:hover
{
   cursor: pointer;
}

.img:hover
{
    cursor: crosshair;
}

#img2
{
    position: absolute;
    left: 50%;
    bottom: 0;
}

.userSelect
{
    -moz-user-select: none;
    user-select: none;
}